.contactLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
.contactImage {
  height: 50vh;
  margin-right: 10vw;
}
.contactForm1 {
  border: 2px solid white;
  padding: 40px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 28px;
}
.contactForm {
  border: 2px solid white;
  padding: 40px;
  width: 42vw;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.formElements{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.contactForm label {
  width:150px;
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}
.contactForm input {
  font-size: 18px;
  border: 2px solid grey;
  margin: 5px;
  padding: 5px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.contactForm textarea {
  font-size: 18px;
  border: 2px solid gray;
  margin: 7px;
  color: white;
  padding: 5px;
  margin-top: 20px;
  background-color: black;
}
.formButtons{
  display: flex;
  gap: 5vw;
}
.formButtons input:hover{
  scale: 1.05;
  background-color: aliceblue;
  color: black;
}
@media (max-width:1024px) {
  .contactImage {
    height: 25vh;
    margin-right: 5vw;
  }
  .contactForm {
    border: 2px solid white;
    padding: 30px;
    width: 42vw;
  }
  .contactForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .formElements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .contactForm label {
    font-size: 22px;
    font-weight: 500;
  }
  .contactForm input {
    font-size: 16px;
    border: 2px solid grey;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
  }
  .contactForm textarea {
    font-size: 16px;
    border: 2px solid gray;
    margin: 7px;
    color: white;
    padding: 5px;
    margin-top: 20px;
    background-color: black;
  }
}
@media (max-width:768px) {
  .contactLayout {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  .contactImage {
    height: 25vh;
    margin-right: 5vw;
  }
  .contactForm {
    border: 2px solid white;
    padding: 30px;
    width: 70vw;
  }
  .contactForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 54vw;
    align-items: center;
  }
  .contactForm1{
    border: 2px solid white;
    padding: 20px;
    width: 68vw;
    border-radius: 5px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    font-size: 18px; 
  }
  .formElements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .contactForm label {
    font-size: 22px;
    font-weight: 500;
  }
  .contactForm input {
    font-size: 16px;
    border: 2px solid grey;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
  }
  .contactForm textarea {
    font-size: 16px;
    border: 2px solid gray;
    margin: 7px;
    color: white;
    padding: 5px;
    margin-top: 20px;
    background-color: black;
  }
}