.homeContainer {
  height: 100vh;
  width: 100vw;
}
.navbarHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 5px 120px;
  margin: 0px 5vw;
  /*border: 1px solid white;*/
  border-radius: 15px;
  font-weight: 400;
  font-size: 16px;
  /*position: fixed;*/
  top: 5px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
.bookIcon {
  font-size: 30px;
  padding-right: 33vw;
}
.titleSection {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  position: relative;
  top: 15vh;
  margin-bottom: 15vh;
  align-items: center;
  justify-content: center;
}
.titleSectionLeft {
  width: 60vw;
}
.titleSectionLeft h1 {
  font-size: 44px;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titleSectionLeft h3 {
  font-size: 28px;
  font-weight: 600;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.name1{
  background: linear-gradient(150deg, orange 5%, #71f625 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleSectionLeft p {
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profilePic {
  height: 50vh;
  border-radius: 100%;
}
.headSectionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin: 50px 20px;
}
.headSectionButtons button {
  font-size: 28px;
  padding: 10px 20px;
  /*border: 2px solid white;*/
  border-radius: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.github-button{
  color: white;
}
.github-button:hover{
  color: black;
  background-color: white;
  font-size: 32px;
}
.gmail-button{
  color: white;
}
.gmail-button:hover{
  color: red;
  font-size: 32px;
}
.linkedin-button{
  color: white;
}
.linkedin-button:hover{
  color: darkblue;
  background-color: white;
  font-size: 32px;
}
.twitter-button{
  color: white;
}
.twitter-button:hover{
  color: skyblue;
  font-size: 32px;
}
.download-cv{
  font-size: 20px;
}
.stars-background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

@media (max-width: 1024px) {
  .navbarHome {
    gap: 8vw;
  }
  .titleSection {
    top: 10vh;
  }
  .titleSectionLeft {
    width: 70vw;
  }
  .titleSectionLeft h1 {
    font-size: 42px;
    font-weight: 900;
  }
  .titleSectionLeft h3 {
    font-size: 26px;
    font-weight: 500;
  }
  .titleSectionLeft p {
    font-size: 19px;
  }
  .profilePic {
    height: 30vh;
    border-radius: 50%;
  }
  .headSectionButtons {
    gap: 6vw;
    margin: 50px 20px;
  }
  .headSectionButtons button {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .navbarHome {
    gap: 8vw;
    padding: 3px 50px;
    margin: 0px 0vw;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bookIcon {
    font-size: 28px;
  }
  .titleSection {
    flex-direction: column-reverse;
    gap: 1vh;
    position: relative;
    top: 13vh;
    margin-bottom: 15vh;
  }
  .titleSectionLeft {
    width: 99vw;
  }
  .titleSectionLeft h1 {
    font-size: 36px;
    font-weight: 900;
  }
  .titleSectionLeft h3 {
    font-size: 24px;
    font-weight: 500;
  }
  .titleSectionLeft p {
    font-size: 16px;
    font-weight: 400;
  }
  .profilePic {
    height: 30vh;
    border-radius: 100%;
  }
  .headSectionButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin: 50px 20px;
  }
  .headSectionButtons button {
    font-size: 20px;
  }
}
